@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&display=swap");

* {
  margin: 0;
}

body {
  font-family: "Red Hat Text", sans-serif;
  background-color: hsl(26, 54%, 97%);
  margin: 60px 0;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

.container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 1rem;
}

.grid-container {
  display: grid;
  grid-template-columns: 70% 30%;
  gap: 30px;
}

.cards-grid-3-columns {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.cards {
  width: 300px;
  position: relative;
  display: in-line;
  margin-top: 40px;
}

.cards img {
  width: 300px;
  border-radius: 10px;
}

.cards h3 {
  font-size: 1.3rem;
  padding: 5px 0;
}

.cards .price {
  color: hsl(14, 86%, 42%);
  font-weight: bold;
  font-size: 1.5rem;
}

.cards .title {
  margin-top: 30px;
  color: hsl(12, 20%, 44%);
  font-size: 1.2rem;
}

.cards button {
  justify-content: center;
  width: 70%;
  border: 1px solid hsl(12, 20%, 44%);
  border-radius: 50px;
  background-color: hsl(0, 0%, 100%);
  padding: 15px 0;
  cursor: pointer;
  position: absolute;
  bottom: 105px;
  left: 50%;
  transform: translateX(-50%);
}

.cards button img {
  width: 15px;
}

.button-text {
  font-weight: bold;
  font-size: 1rem;
  color: hsl(0, 0%, 0%);
  padding: 0 5px;
}

.cart-result {
  background-color: hsl(0, 0%, 100%);
  padding: 40px;
  border-radius: 10px;
}

.cart-result h2 {
  color: hsl(14, 86%, 42%);
  padding-bottom: 20px;
}

.cart-result li {
  list-style-type: none;
  margin-left: -40px;
}

.cart-items-list {
  padding-top: 15px;
}

.cart-items-list-description, .modal-content-list-description {
  font-size: 1rem;
  font-weight: 600;
}

.cart-items-list-space {
  padding: 0.5px 0;
}

.cart-items-list-price-description{
  padding: 5px 0;
  display: flex;
  justify-content: space-between;
  align-items: center; 
  width: 100%; 
}

.cart-items-list-quantity, .modal-content-list-quantity {
  color: hsl(14, 86%, 42%);
  font-weight: 600;
  font-size: 0.9rem;
}

.cart-items-list-price, .cart-items-list-price-total, .modal-content-list-price, .modal-content-list-price-total {
  color: hsl(12, 20%, 44%);
  font-size: 0.9rem;
}

.cart-items-list-price-total, .modal-content-list-price-total {
  font-weight: 600;
}

.cart-items-list img {
  width: 0.85rem;
  padding: 1px;
  border: 1px solid hsl(12, 18%, 40%);
  border-radius: 50%;
  cursor: pointer;
}

.cart-items-list-line {
  padding-top: 15px;
}

.cart-result-total {
  padding: 20px 0;
}

.cart-result-total p {
  margin-top: -20px;
  color: hsl(12, 20%, 44%);
  font-weight: 600;
}

.cart-result-total {
  display: flex;
  justify-content: space-between;
  align-items: center; 
  width: 100%; 
}

.cart-result-total h2 {
  color: hsl(0, 0%, 0%)
}

.carbon-neutral {
  text-align: center;
  font-size: 0.75rem;
  font-weight: 400;
  border-radius: 10px;
  background-color: hsl(26, 54%, 97%);
  width: 100%;
  padding: 18px 0;
  margin-bottom: 30px;
}

.cart-result button, .modal-content button  {
  width: 100%;
  font-size: 0.9rem;
  color: #ccc;
  font-weight: 700;
  border: 1px solid hsl(14, 86%, 42%);
  border-radius: 100px;
  padding: 14px 0;
  background-color: hsl(14, 86%, 42%);
  cursor: pointer; 
}

.cart-result-default {
  background-color: hsl(0, 0%, 100%);
  color: hsl(14, 86%, 42%);
  padding: 40px;
  border-radius: 10px;
}

.cart-result-default-view {
  text-align: center;
}

.cart-result-default-view img {
  padding: 40px 0;
}

.cart-result-default-view p {
  color: hsl(12, 20%, 44%);
  font-weight: bold;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content {
  background: white;
  padding: 30px;
  border-radius: 10px;
}

.modal-content-list {
  padding: 0 20px 0 20px;
  border-radius: 8px;
  background-color: hsl(26, 54%, 97%);
  margin-bottom: 25px;
}

.modal-content-list ul {
  list-style-type: none;
  margin-left: -40px;
}

.modal-content-details {
  display: flex;
  padding: 20px;
}

.modal-content-details img {
  margin-left: -20px;
  padding: 0 15px 0 0;
  width: 45px;
}

.modal-content-list-price {
  padding-right: 70px;
}

.modal-content h2 {
  padding: 10px 0;
}

.modal-content p {
  font-size: 0.82rem;
  color: hsl(12, 20%, 44%);
  font-weight: 500;
  padding: 0 0 20px 0;
}

.modal-content-total {
  display: flex;
  justify-content: space-between;
  align-items: center; 
  width: 100%;
  padding: 15px 0;
}

.modal-content-total p {
  padding: 10px 0;
  color: hsl(12, 20%, 44%);
  font-weight: 600;
}

/* Tablet view */
@media (min-width: 768px) and (max-width: 1024px) {
  body {
    margin: 40px 0;
  }
  
  .container {
    padding: 0 2rem;
  }

  .cards-grid-3-columns {
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
  }

  .cards {
    width: 100%;
    margin-top: 30px;
  }

  .cards img {
    width: 100%;
    height: auto;
  }

  .cards button {
    width: 80%;
    padding: 20px 0;
    position: relative;
    bottom: auto;
    left: auto;
    transform: none;
    margin: -37px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
  }

  .button-text {
    padding: 0 2px;
  }

  .cards .title {
    padding-top: 30px;
  }
}

/* Phone screen */
@media (max-width: 767px) {
  body {
    margin: 30px 0;
  }

  h1 {
    font-size: 2.5rem;
    padding: 0 20px;
  }

  .cards {
    padding-top: 25px;
  }

  .grid-container {
    grid-template-columns: 1fr;
  }

  .cards-grid-3-columns {
    grid-template-columns: 1fr;
    gap: 25px;
    justify-items: center;
  }

  .cards {
    width: 90%;
    margin: 0 auto;
    position: relative;
    text-align: center;
  }

  .cards img {
    width: 100%;
    height: auto;
    border-radius: 12px;
  }

  .cards h3,
  .cards .title,
  .cards .price {
    text-align: left;
  }

  .cards .title {
    padding-top: 30px;
  }

  .cards button {
    width: 60%;
    padding: 20px 0;
    position: relative;
    bottom: auto;
    left: auto;
    transform: none;
    margin: -35px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
  }

  .button-text {
    font-size: 1rem;
    font-weight: bold;
  }

  .cart-result-default {
    padding: 20px;
    margin: 20px auto;
    width: 90%;
  }

  .container {
    padding: 0 1rem;
  }
}